{
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["*.config.js"],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"]
}
