@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}

::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	background: rgba(244, 63, 94, 1);
	border: 4px solid rgba(244, 63, 94, 1);
	border-radius: 50px;
}
::-webkit-scrollbar-track {
	background: rgba(244, 63, 94, 0.1);
}
